<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 max-w-[1000px] mx-auto">
    <a href="post/1">
        <div class="aspect-[1.2/1] rounded-lg overflow-hidden dark">
            <div class="flex flex-col justify-between h-full">
                <div>
                    <img class="aspect-video w-full object-cover" src="media/icon/logo.png">
                </div>
                <div class="flex flex-col justify-between p-[5px] h-full">
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-bold text-[14px]">How to use Pylog</p>
                        <p class="text-[10px]">
                            The Pylog is Python-based Static Blog Generator...
                        </p>
                    </div>
                    <p class="text-[8px]">2023.05.12</p>
                </div>
            </div>
        </div>
    </a>
    <a href="post/1">
        <div class="aspect-[1.2/1] rounded-lg overflow-hidden dark">
            <div class="flex flex-col justify-between h-full">
                <div>
                    <img class="aspect-video w-full object-cover" src="media/icon/logo.png">
                </div>
                <div class="flex flex-col justify-between p-[5px] h-full">
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-bold text-[14px]">How to use Pylog</p>
                        <p class="text-[10px]">
                            The Pylog is Python-based Static Blog Generator...
                        </p>
                    </div>
                    <p class="text-[8px]">2023.05.12</p>
                </div>
            </div>
        </div>
    </a>
    <a href="post/1">
        <div class="aspect-[1.2/1] rounded-lg overflow-hidden dark">
            <div class="flex flex-col justify-between h-full">
                <div>
                    <img class="aspect-video w-full object-cover" src="media/icon/logo.png">
                </div>
                <div class="flex flex-col justify-between p-[5px] h-full">
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-bold text-[14px]">How to use Pylog</p>
                        <p class="text-[10px]">
                            The Pylog is Python-based Static Blog Generator...
                        </p>
                    </div>
                    <p class="text-[8px]">2023.05.12</p>
                </div>
            </div>
        </div>
    </a>
    <a href="post/1">
        <div class="aspect-[1.2/1] rounded-lg overflow-hidden dark">
            <div class="flex flex-col justify-between h-full">
                <div>
                    <img class="aspect-video w-full object-cover" src="media/icon/logo.png">
                </div>
                <div class="flex flex-col justify-between p-[5px] h-full">
                    <div class="flex flex-col gap-[5px]">
                        <p class="font-bold text-[14px]">How to use Pylog</p>
                        <p class="text-[10px]">
                            The Pylog is Python-based Static Blog Generator...
                        </p>
                    </div>
                    <p class="text-[8px]">2023.05.12</p>
                </div>
            </div>
        </div>
    </a>
</div>