<a href="post/{{ folder }}">
    <div class="aspect-[1.2/1] rounded-lg overflow-hidden dark">
        <div class="flex flex-col justify-between h-full">
            <div>
                <img class="aspect-video w-full object-cover" src="post/{{ folder }}/{{ img }}">
            </div>
            <div class="flex flex-col justify-between p-[5px] h-full">
                <div class="flex flex-col gap-[5px]">
                    <p class="font-bold text-[14px]">{{ title }}</p>
                    <p class="text-[10px]">
                        {{ post }}
                    </p>
                </div>
                <p class="text-[8px]">{{ date }}</p>
            </div>
        </div>
    </div>
</a>